@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.swiper-button-prev::after, .swiper-button-next::after{
  color: #00cc99 !important;
}

.backScreen {
  background: linear-gradient(90deg, rgba(242,242,242) 60%,  rgba(0,204,153) 40%);
}

.rightScreen {
  background: linear-gradient(90deg, rgba(0,204,153,1) 0%, rgba(0,204,153,1) 80%, rgba(0, 204, 153, 0.22) 100%);
}

@media screen and (max-width: 1900px) {
  .backScreen {
    background: linear-gradient(90deg, rgba(242,242,242) 80%,  rgba(0,204,153) 30%);
  } 
}

@media screen and (max-width: 600px) {
  .backScreen {
    background:  rgba(242,242,242,1);
  }
  .rightScreen {
    background: rgba(0,204,153,1);
  }
}